/* Grid */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height of the body to the height of the viewport */
    margin: 0; /* remove default margin */
    overflow: hidden;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    flex-shrink: 0;
    user-select: none;
    z-index: 1;
}
  
/* Player Cards */

.player-card-container {
    position: absolute;
    left: 50%;
    bottom: 0%;
    top: 99%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    z-index: 2;
}

#team-divider {
    width: 50px;
}

.player-cards {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
}

.player-card {
    position: relative;
    width: 160px;
    height: 280px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
    transform: translateY(-20%);
    transition: transform 0.3s ease-in-out;
    user-select: none;
}

.player-card:hover {
    transform: translateY(-85%);
    user-select: auto;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 5px;
}

.card-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.card-hp {
    font-size: 16px;
    margin-bottom: 5px;
}

.card-weapon {
    font-size: 16px;
    margin-bottom: 5px;
}

.card-time {
    font-size: 16px;
}

.card-stats {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 65%;
    padding: 5px;
    background-color: #f1f1f1;
}

.player-card:hover .card-stats {
    display: flex;
}

.card-stat {
    font-size: 12px;
}

/* Player Markers */

.player-marker {
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    user-select: none;
}
  